@page "/enquirys/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3 class="card-title">Enquiry</h3>
<a href="/enquiry/" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Enquiry
</a>
<br />
<br />

@if (Enquirys == null)
{
    <div class="alert alert-info">Loading Enquiries...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Contact</th>
                <th>Email Address</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enquiry in Enquirys)
            {
            <tr>
                <td>@enquiry.Name</td>
                <td>@enquiry.Contact</td>
                <td>@enquiry.Email</td>
                <td>@enquiry.Details</td>
                <td>
                    <a href="/customers/view/@enquiry.Id" class="btn btn-primary">
                        <span class="oi oi-book"></span>
                    </a>
                    <a href="/customers/edit/@enquiry.Id" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                    </a>
                    <button class="btn btn-danger" @onclick="@(()=>Delete(enquiry.Id))">
                        <span class="oi oi-delete"></span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
}
@code {
    private List<Enquiry> Enquirys;

    protected async override Task OnInitializedAsync()
    {
        Enquirys = await _client.GetFromJsonAsync<List<Enquiry>>($"{Endpoints.EnquirysEndpoint}");
    }

    async Task Delete(int enquiryId)
    {
        var enquiry = Enquirys.First(q => q.Id == enquiryId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {enquiry.Details}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.EnquirysEndpoint}/{enquiryId}");
            await OnInitializedAsync();
        }
    }
}
